#panzoom-component {
    border: 3px solid red;
    width: 90vw;
    height: 90vh;
    overflow: hidden;
    margin: 1rem auto;

    .inner-holder {
       transition: all .2s linear;
    }
}

.dot {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}