.tree-container {
    overflow: hidden;
    margin: 2% auto;
    padding: 1.5rem 1rem;
    width: 80%;
    height: 80vh;
    background-color: rgba(128, 128, 128, 0.5);
    border: gray 1px solid;
    border-radius: 8px;
}



